{% extends 'base.html.twig' %}

{% block title %}
    Evento Eliminado
{% endblock %}

{% block body %}

<div class="container mt-4">

    <h1>
        🗑️ Borrado de Evento
    </h1>

    <hr>

    <div class="alert alert-success">

        El evento

        <strong>
            {{ evento.titulo }}
        </strong>

        ha sido borrado correctamente.

    </div>

    <a
        href="{{ path('admin_evento_listar') }}"
        class="btn btn-primary"
    >
        ⬅ Volver al listado
    </a>

</div>

{% endblock %}
